.root {
    -fx-background-color: lightblue;
}

#Custom-Button {
    -fx-padding: 0px;
    -fx-font-size: 90px;
    -fx-font-family: Arial;
}

.Custom-Button {
    -fx-padding: 0px;
    -fx-font-size: 90px;
    -fx-font-family: Arial;
}

.grid-pane {
    -fx-background-color: gray;
}